	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">HN</a>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<div class="row">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a routerLink="news" class="nav-link"><button class="btn btn-primary btn-lg"><i class="material-icons">library_books</i> News </button><span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a routerLink="create" class="nav-link"><button class="btn btn-primary btn-lg"><i class="material-icons orange600">create</i> Create</button></a>
					</li>
					<li class="nav-item">
						<a routerLink="other" class="nav-link"><button class="btn btn-success btn-lg"><i class="material-icons orange600">select_all</i>Others</button></a>
					</li>
				</ul>
			</div>
		</div>

	</nav>
	