<div class="container-fluid">
	<h1 class="text-muted text-center">Local News</h1>
	<hr>
	<div class="row">
		<div class="col-md-4" *ngFor="let news of news$">
			<div class="card">
				<a href="{{news.url}}">
					<div class="card-header">
						<p><span class="text-warning">{{news$.indexOf(news)+1}}.</span> 
							&nbsp;<b>{{news.title.substring(0,40)}}</b></p> 
						</div>
					</a>
					<div class="card-body bg-primary">
						<p class="card-text">{{news.body.substring(0,60)}}...</p>
					</div>
				</div>
				
				<br>
			</div>
		</div>

	</div>
